body{
    background-color: rgb(148, 148, 148);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
}
main{
    width: 400px;
    height: 400px;
    background-color: #4C4C4C;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/*ESTILOS GENERALES PARA LOS DIVS*/
div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*BORDE DEL RELOJ*/
.borde-reloj{
    background-color: #242424;
    height: 240px;
    width: 240px;
    border-radius: 100%;
    border: solid #3A3A3A 8px;
}

/*LÍNEA ROJA Y ANIMACIÓN*/
.linea-roja{
    background-color: #242424;
    height: 220px;
    width: 220px;
    border-radius: 100%;
    animation: circulo 5s infinite;
}
@keyframes circulo {
    from{
        stroke-dashoffset: 0;
    }
    to{
        stroke-dashoffset: 100%;
    }
}
.puntos{
    background-color: #242424;
    height: 205px;
    width: 205px;
    border-radius: 100%;
    border: #D3D3D3 dashed 2px;
}

/*CONTENIDO DEL RELOJ*/
.contenido{
    flex-direction: column;
}
.contenido p{
    margin: 0;
    font-size: 0.8em;
}
/*ANIMACIÓN Y ESTILOS DE LA LÍNEA DEL CORAZÓN*/
.corazon{
    width: 105px;
    justify-content: space-between;
    align-items: center;
}
.corazon p{
    position: relative;
    left: 4px;
}
.fa-solid{
    font-size: 0.7em;
    color: #F85B5B;
    animation: latido 0.3s infinite alternate-reverse;
    position: relative;
    top: 1px;
}
@keyframes latido {
    from{
        scale: 1;
    }
    to{
        scale: 1.2;
    }
}
.contenido h1{
    margin: 0;
    font-size: 2.9em;
}


/* ANIMACIÓN LÍNENA ROJA */
svg {
    width: 225px;
    height: 225px;
    position: absolute;
    rotate: -90deg;
    top: 87.5px;
}
circle {
    fill: none;
    stroke: #F85B5B;
    stroke-width: 3px;
    stroke-dasharray: 692;
    animation: rellenarBorde 6s linear infinite;
}
@keyframes rellenarBorde {
    from {
        stroke-dashoffset: 692;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -692;
    }
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}