body {
    margin: 0;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 400px;
    width: 400px;
    overflow: hidden;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    position: absolute;
}

/*ESTILOS PARA EL FONDO*/
.div-fondo div {
    background-color: #353535;
    width: 600px;
    height: 3px;
    margin: 25px 0;
    transform: rotate(45deg);
    position: relative;
    left: -100px;
    top: -200px;
}

/*ESTILOS PARA LA FIGURA*/
.div-figura {
    background-color: #353535;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    position: relative;
    scale: 0.8;
    width: 160px;
}
svg polygon {
    transition: 0.8s ease 100ms;
}
.figura-uno {
    fill: #CCCCCC;
}
.figura-dos {
    fill: #AAAAAA;
}
.figura-tres {
    fill: #EEEEEE;
}

/*HOVER*/
svg:hover .figura-uno {
    fill: #EEEEEE;
}
svg:hover .figura-dos {
    fill: #CCCCCC;
}
svg:hover .figura-tres {
    fill: #AAAAAA;
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 1;
    border: solid 2px #303030;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}