/* 
    CODE BY @alfonsaco 
https://github.com/alfonsaco
*/
*{
    box-sizing: content-box;
}

body{
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*ESTILOS DE LOS CONTENEDORES*/
main{
    width: 400px;   
    height: 400px;
    background-color: #2C3E50;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.container{
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*ESTILOS DE LA VELA*/
.cuerda{
    background-color: rgb(187, 135, 119);
    width: 4px;
    height: 8px;
    z-index: 1;
}
.fondo-vela{
    background-color: #E0E5ff;
    width: 70px;
    height: 120px;
    border-radius: 5px;
}
.vela-blanca{
    background-color: #fff;
    width: 80%;
    height: 100%;
    border-radius: 5px;
}
.plato{
    background-color: #1B233E;
    width: 150px;
    height: 10px;
    border-radius: 3px;
}

/*ESTILOS DEL FUEGO*/
.fuego{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    width: 15px;
	height: 25px;
    filter: drop-shadow(0px 0px 5px rgb(248, 232, 0)) drop-shadow(0px 0px 2px rgb(255, 124, 2));
    animation: movimiento 12s ease-in-out infinite reverse;
}
.fuego-pequeño {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 145, 0, 0.651);
    width: 7px;
	height: 15px;
    filter: drop-shadow(0px 0px 2px rgb(255, 40, 2));
    animation: movimiento 12s ease-in-out infinite reverse;
}
@keyframes movimiento {
	0%, 22%, 49%, 62%, 81%, 100% {
		border-radius: 2px 14px 8px 8px / 20px 20px 8px 8px;
	}
	14%, 32%, 56%, 70%, 89% {
		border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px;
	}
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    font-size: 0.9em;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}