/* 
    CODE BY @alfonsaco 
https://github.com/alfonsaco
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
main {
    background-color: rgb(76, 101, 168);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    position: absolute;
}

/* CONTENEDOR */
.container {
    display: flex;
    gap: 15px;
}
input {
    display: none;
}
label {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
    user-select: none;
}
label:hover {
    background-color: #314272;
}
label.activo {
    color: rgb(76, 101, 168);
}
label p {
    z-index: 10;
}

/* ANIMACIÓN BOLA */
.animacion {
    width: 0%;
    height: 0%;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    transition: 0.5s ease;
}
.animacion.activar-animacion {
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    font-size: 0.9em;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}