/* 
    CODE BY @alfonsaco 
https://github.com/alfonsaco
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
main {
    width: 400px;
    height: 400px;
    background-color: rgb(47, 85, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* ESTILOS DEL CUBO */
.cubo {
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 130px;
    height: 130px;
    cursor: pointer;
    transform: rotateX(-25deg) rotateY(45deg);
    transition: 1s ease;
}
.cubo:hover {
    transform: translateY(-30px) rotateY(45deg) rotateZ(-20deg) rotateX(-20deg);
}

.cubo > div {
    width: 130px;
    height: 130px;
    background-color: rgba(30, 50, 61, 0.534);
    position: absolute;
    display: flex;
    align-items: end;
}

/* CARAS */
.arriba {
    transform: translateY(-65px) rotateX(90deg);
    background-color: rgba(38, 67, 83, 0.534) !important;
}
.abajo {
    transform: translateY(65px) rotateX(90deg);
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
    transition: 1s ease;
    background-color: rgb(211, 144, 0) !important;
}
.cubo:hover .abajo {
    box-shadow: -30px 30px 30px rgba(0,0,0,0.5);
}
.izquierda {
    transform: translateX(-65px) rotateY(90deg);
}
.derecha {
    transform: translateX(65px) rotateY(90deg);
}
.delante {
    transform: translateZ(65px);
}
.detras {
    transform: translateZ(-65px);
}

.cubo > div > div {
    width: 100%;
    background-color: rgba(230, 157, 0, 0.89);
    animation: cosa 10s ease infinite;
}

@keyframes cosa {
    from, 15% {
        height: 0%;
    }
    40%, 60% {
        height: 100%;
    }
    85%, to {
        height: 0%;
    }
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    font-size: 0.9em;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}