/* 
    CODE BY @alfonsaco 
https://github.com/alfonsaco
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* ESTILOS DE LOS CUADRADOS */
.cuadrado {
    border: solid 1px #000;
    border-image: linear-gradient(red,orange,yellow,green,blue,purple);
    border-image-slice: 1;
    position: absolute;
    background-color: #000;
    animation: moverCubos 2.5s infinite alternate ease-in-out;
}
main:hover .cuadrado {
    animation-play-state: paused;
}
@keyframes moverCubos {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    font-size: 0.9em;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}