/* 
    CODE BY @alfonsaco 
https://github.com/alfonsaco
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
}

/* DIVS */
div:not(.alfonsaco) {
    background-color: #DE4738;
    border: 1px solid #f05a4c;
    transition: 0.1s ease;
}
div:hover {
    background-color: #f05a4c;
}
/* Estilos para cambiar el color */
div.cambiar-color {
    background-color: #fff;
    border-color: #fff;
}

/* ALFONSACO */
.alfonsaco {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease;
}
.alfonsaco:hover {
    opacity: 1;
    width: 95px;
    background-color: #fff;
}
.alfonsaco a {
    color: #252525;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    font-size: 0.9em;
}
.alfonsaco:hover a {
    visibility: visible;
    opacity: 1;
}